{
  "extends": "eslint:recommended",
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.13.0"
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype"
  ],
  "env": {
    "amd": true,
    "browser": true,
    "node": true,
    "es6": true,
    "worker": true
  },
  "rules": {
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "arrow-parens": [
      1,
      "always"
    ],
    "eqeqeq": [
      "error",
      "smart"
    ],
    "comma-dangle": [
      1,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "no-console": 0,
    "no-debugger": "error",
    "no-extra-semi": 1,
    "no-extra-parens": 1,
    "no-irregular-whitespace": 0,
    "no-undef": 2,
    "no-unused-vars": 0,
    "semi": 1,
    "semi-spacing": 1,
    "valid-jsdoc": [
      2,
      {
        "requireReturn": false
      }
    ],
    "react/display-name": 2,
    "react/forbid-prop-types": [
      1,
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ],
    "react/jsx-boolean-value": 1,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": 1,
    "react/jsx-indent-props": [
      2,
      2
    ],
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 1,
    "react/sort-prop-types": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-multi-comp": 0,
    "react/no-set-state": 0,
    "react/no-unknown-property": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "jsx-quotes": [
      1,
      "prefer-single"
    ],
    "object-shorthand": [
      1,
      "always"
    ],
    "flowtype/boolean-style": [
      "warn",
      "boolean"
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [
      "warn",
      "never"
    ],
    "flowtype/generic-spacing": [
      "warn",
      "never"
    ],
    "flowtype/no-mixed": "warn",
    "flowtype/no-primitive-constructor-types": "warn",
    "flowtype/no-types-missing-file-annotation": 0,
    "flowtype/no-weak-types": "warn",
    "flowtype/object-type-delimiter": [
      "warn",
      "comma"
    ],
    "flowtype/require-parameter-type": "warn",
    "flowtype/require-readonly-react-props": 0,
    "flowtype/require-return-type": [
      "warn",
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/require-valid-file-annotation": "warn",
    "flowtype/semi": [
      "warn",
      "always"
    ],
    "flowtype/space-after-type-colon": [
      "warn",
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      "warn",
      "never"
    ],
    "flowtype/space-before-type-colon": [
      "warn",
      "never"
    ],
    "flowtype/type-id-match": [
      "warn",
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/union-intersection-spacing": [
      "warn",
      "always"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  }
}